/* .logo {
    height: 35%;
    width: 35%;
}
 */


/**Colores**/


/* .fondo {
    background-color: #a8a8a8;
}
 */


/* .navbar-dark,
.bg-dark {
    background: red !important;
} */

.textosImportantes,

/* nav a {
    color: #f3f7de !important;
} */


/* .navbar-dark {
    background-color: #F5EEE0 !important;
} */


/* 
.btn-primary {
    background-color: #218FFC !important;
} */