.reset {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.fondo-portada {
    /* imagene de fondo */
    background-image: /* gradientes como imagen de fondo */
    linear-gradient(rgba(0, 0, 0, 0.479), rgba(255, 255, 255, 0.472))
    /* con la coma podemos enlistar imágenes como fondo multiples  */
    , /* vínculo a la imagen */
    url(../img/portada.jpg);
    /* tamaño de imagen de fondo */
    background-size: cover;
    /* imagen como mozaico */
    background-repeat: no-repeat;
    /* comportamiento ante el scroll */
    background-attachment: scroll, fixed;
}

.fondonav {
    /*  background-color: #7EA89A; */
    background-color: #4b3621b1;
}

.titulo {
    color: white;
}


/* Productos destacados*/

.producto a {
    position: relative;
}

.producto .destacado {
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: normal;
}


/*Footer*/

.fondofooter {
    /* background-color: #7EA89A; */
    background-color: #4b3621;
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    color: #DC6094;
    text-decoration: none;

}

.detalleproducto {
    width: 600px;
    height: 400px;
}
